<div class="intro-container">
  <a name="about"><span class="anchor"></span></a>
  <h1 class="section-header">About</h1>

  <div
    gdAreas="intro-text intro-image"
    gdAreas.xs="intro-text | intro-image"
    gdAreas.sm="intro-text | intro-image"
    gdGap="20px"
    fxLayoutAlign="start stretch">

    <div gdArea="intro-text">
      <h3>Welcome to my personal webpage!</h3>

      <p>I am a <b>Software Engineer</b>, based in Ireland, with 1+ years experience working with a variety of
        technologies in the back-end and the front-end including <b>Java</b>, <b>Python</b>, <b>Angular</b> and <b>Typescript</b>.</p>

      <p>One of my main traits is that I have a <b>huge appetite for learning</b>. I'm <b>always motivated to acquire new skills</b>
        or knowledge in the latest, emerging technologies. I am <b>very passionate about problem solving</b>, curious about understanding why
        a problem may have occurred so that I can <b>develop powerful software</b> as proficiently as possible while
        using the best practices and APIs available.</p>

      <p>The purpose of this website is to be a place where I can showcase these newly acquired skills or techniques i.e
        website has been developed with Angular 7 and Angular Material. ( Portfolio section coming soon )</p>

    </div>

    <div gdArea="intro-image">
      <img id="intro-img" src="../../assets/img/me.jpg" />
    </div>
  </div>
</div>


