<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-side-nav-bar></app-side-nav-bar> -->
<app-header></app-header>
<!--
<mat-sidenav-container class="main-container">
  <mat-sidenav class="sidenav" #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a class="mat-list-link" mat-list-item href="#">About</a>
      <a class="mat-list-link" mat-list-item href="#">Experience</a>
      <a class="mat-list-link" mat-list-item href="#">Skills</a>
      <a class="mat-list-link" mat-list-item href="#">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-intro></app-intro>
    <app-experience></app-experience>
    <app-contact></app-contact>
  </mat-sidenav-content>

</mat-sidenav-container>
-->

<app-intro></app-intro>
<app-experience></app-experience>
<app-contact></app-contact>
